.error-msg{
    color: #f50;
    padding-left: 15px
}

.fixed-header .am-navBar{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.am-tab-bar{
	position: fixed;
	bottom: 0;
	width: 100%;
	height:auto;
}
.am-navbar{
    height: 45px;
}
 
.am-tab-bar {
    height: 50px !important;
}